.aprobado {
    background-color: green;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 30 px;

}

.reprobado {
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 30 px;
}
